<div class="chat-hed">
  <div class="chat-outline">
    <div class="chat-title">
      <%= @room.name%>
    </div>
  </div>
  <div class="chat-exit">
    <div class="chat-exit-button">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>
<div class="chat-main">
  <%= render partial: 'message', collection: @messages%>
</div>
<!--div class="chat-fot"-->
<%= form_with model: [@room, @message], html: {class: "chat-fot"}, local: true do |f| %>
  <div class="form">
    <%= f.text_field :content, class: 'form-text', placeholder: 'type a message' %>
    <!--input placeholder="type a message" class="form-text"-->
    <label class="form-image">
      <span class="image-file">画像</span>
      <!--input type="file" class="hidden"-->
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <!--input type="submit" value="送信" class="form-send-button"-->
  <%= f.submit '送信', class: 'form-send-button' %>
<% end %>
